<nav class="flex justify-between items-center center bg-white divider-grey relative z-999" id="header">

	<!-- Logo -->
	<a href="/" class="ph1 db ml2 ml4-l mw4 flex-none" id="logo" aria-label="Home">
		<svg height="60px" class="primary db">
			<use xlink:href="#main-logo"></use>
		</svg>
	</a>

	<!-- Primary Nav -->
	<ul class="primary-nav flex-m dn b grey-3" id="prim-nav">
		{{ range .Site.Menus.main }}
		<li>
			<a href="{{ .URL }}" class="pa3 no-underline db">
				{{ .Pre }}
				<span>{{ .Name }}</span>
			</a>
		</li>
		{{ end }}
	</ul>

	<!-- Toggler -->
	<div class="d dn-m b grey-3" id="mob-nav">
		<ul id="off-canvas" class="dn-m b br1">
			<li>
				<a href="#" onclick="toggleMenu(this); return false;" class="pa3 no-underline tc db br1" aria-label="Open menu">
					<div id="nav-icon">
						<span></span>
						<span></span>
						<span></span>
					</div>
				</a>
			</li>
			<!-- Off Canvas -->
			<li>
				<ul class="off-white mb1">
					{{ range .Site.Menus.main }}
					<li>
						<a href="{{ .URL }}" class="pa3 no-underline db">
							{{ .Pre }}
							<span>{{ .Name }}</span>
						</a>
					</li>
					{{ end }}
					<li>{{ partial "social-icon" (dict "link" .Site.Params.facebook "svg" "icons-facebook") }}</li>
				</ul>
			</li>
		</ul>

	</div>
</nav>