<form name="newsletter-subscription" method="POST" action="/subscribed" netlify-honeypot="bot-field" class="flex-ns mb3" netlify>

  <p class="hidden">
      <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
  </p>
  <fieldset class="flex-auto mb2 mb0-ns mr2-ns" name="newsletter" action="newsletter-subscribe">
    <input name="email" type="email" id="email" placeholder="Your email" class="w-100" required>
    <label for="email">Your email</label>
  </fieldset>

  <button class="btn mb3 w-100 w-auto-ns mb0-ns raise" type="submit">Submit</button>

</form>
