<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "name": "Faiz-e-Aam Welfare Trust",
      "description": "Welfare organization providing free education, food, healthcare and basic necessities to the deprived sectors of society",
      "url": {{ .Site.BaseURL }},
      "sameAs": {{ site.Params.Facebook }},
      "logo": {{ .Site.Params.Logo | absURL }},
      "location": {
      	"@type": "PostalAddress",
      	"addressLocality": "Islamabad, Pakistan"
      }  
    }
</script>