<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "name": "Faiz-e-Aam Welfare Trust",
      "description": "Welfare organization providing free education, food, healthcare and basic necessities to the deprived sectors of society",
      "url": "{{ .Site.BaseURL }}",
      "sameAs": "https://www.facebook.com/Mount-HIRA-Street-Children-School-372062566191109/",
      "logo": "https://faizeaam.org/img/android-chrome-192x192.png",
      "location": {
      	"@type": "PostalAddress",
      	"addressLocality": "Islamabad, Pakistan"
      }  
    }
</script>