<div id="modal" class="dn fixed absolute--fill z-999 w-100 h-100 pa0 ma0" style="background-color: rgba(23,23,23,0.99)">
    <div class="mw6 pa1 br1 bg-white center mt5">
        <div class="aspect-ratio aspect-ratio--16x9">
            <iframe id="modal-iframe" class="aspect-ratio--object"
                src="https://www.youtube.com/embed/{{ .Params.video }}?controls=1&autoplay=0&rel=0&modestbranding=1"
                frameborder="0" allow="autoplay; encrypted-media;" allowfullscreen></iframe>
        </div>
        <button onclick="closeDiv('modal', 'modal-iframe')" class="btn btn-yellow fr mt3">X Close</button>
    </div>
</div>