<div class="mw7 center ph3 pv4">

    <div class="flex flex-wrap mhn1">
        <div class="w-100 w-50-ns pv1 pv0-ns ph1-ns">
            <div class="aspect-ratio aspect-ratio--16x9">
                <iframe class="aspect-ratio--object bg-grey-2 br1" src="{{ .Params.videos.video1 }}" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
            </div>
        </div>
        <div class="w-100 w-50-ns pv1 pv0-ns ph1-ns">
            <div class="aspect-ratio aspect-ratio--16x9">
                <iframe class="aspect-ratio--object bg-grey-2 br1" src="{{ .Params.videos.video2 }}" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>