table
{
  border-radius: var(--border-radius);
  width: 100%;
  display: flex;
  flex-direction: column;
}

tbody tr {
  display: flex;
  flex-direction: column;
}

thead {
  display: none;
}

td, th {
  padding: var(--spacing-small);
}

th:not(:first-child), td:not(:first-child) {
  text-align: left;
}

th {
  color: var(--grey-3);
  font-weight: 700;
}

tr th {
  text-align: left;
}

tbody tr:nth-child(even) {
  background-color: var(--grey-1);
  border-radius: var(--border-radius);
}

@media (--breakpoint-not-small) {
  table {
    display: table;
    flex-direction: unset;
  }
  tbody tr {
    display: table-row;
    flex-direction: unset;
  }
  thead {
    display: table-header-group;
  }
  td, th {
    padding: var(--spacing-medium);
  }
}
