{
  "env": {
    "browser": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "import",
    "react",
    "env"
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "no-self-assign": 0,
    "react/prop-types": 0
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"]
}