{{ define "main" }}

<div class="mw7 center ph3 pv4">
  <h1 class="f2 lh-title mb3">{{.Title}}</h1>
  <div class="flex justify-between grey-3">
    <p>{{ .Date.Format "Mon, Jan 2, 2006" }}</p>
    <p>Read in {{ .ReadingTime }} minutes</p>
  </div>
  <div class="cms">
    <p>{{ .Description }}</p>
    {{ if .Params.image }}<img src="{{ .Params.image }}" alt="{{ .Title }}" />{{ end }}
    {{ .Content }}
  </div>
</div>

<div class="bg-off-white pv4">
    <div class="ph3 mw7 center flex">
    {{ with .PrevInSection }}
    {{ .Render "li" }}
  {{ end }}
</div>
</div>

<script type="application/ld+json">
  {{ partial "search-gallery-news" . | safeJS }}
</script>

{{ end }}